<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    form {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    input {
      margin: 20px;
    }

    button {
      width: 50%;
    }
    body {
      display: flex;
    }
  </style>
  <body>
    <div>
      <h1>naver</h1>
      <form>
        <div><span>아이디</span><input type="text" id="id" /></div>
        <div><span>비밀번호</span><input type="password" id="password" /></div>

        <button type="button" onclick="onClick()">로그인</button>
        <div id="confirm"></div>
      </form>
      <br />
      <button type="button" onclick="onPage()">페이지 이동</button>
    </div>
    <div>
      <form>
        <div><span>아이디</span><input type="text" id="id2" /></div>
        <div><span>비밀번호</span><input type="password" id="password2" /></div>
        <div><span>이름</span><input type="text" id="name2" /></div>

        <button type="button" onclick="onCheck()">회원체크</button>
        <div id="confirm2"></div>
      </form>
    </div>

    <script>
      function onCheck() {
        const id = document.getElementById("id2").value;
        const password = document.getElementById("password2").value;
        const name = document.getElementById("name2").value;
        axios
          .post("/user/check", {
            id,
            password,
            name,
          })
          .then((res) => {
            const confirm = document.getElementById("confirm2");
            if (res.data) {
              confirm.innerHTML = `${name}님 환영합니다.`;
            } else {
              confirm.innerHTML = "아이디와 패스워드 이름이 다릅니다.";
            }
          });
      }

      function onPage() {
        location.href = "/account";
      }
      async function onClick() {
        const id = document.getElementById("id").value;
        const password = document.getElementById("password").value;
        const confirm = document.getElementById("confirm");
        console.log(id, password);
        axios
          .post("/user", {
            id,
            password,
          })
          .then((res) => {
            confirm.innerHTML = res.data;
            confirm.style.color = "blue";
          })
          .catch(function (error) {
            console.log(error);
            confirm.innerHTML = error.response.data;
            confirm.style.color = "red";
          });
      }
    </script>
  </body>
</html>
