/* 사이즈 단위
  px, 
  em(부모 사이즈의 배율), 
  rem(루트 최상단 사이즈의 배율), 
  %
*/

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    font-size: 3em;
}

/* .font-css{
    font-size: 4em;
    font-weight: 900;
} */

.parent{
    font-family: 'Noto Sans KR', sans-serif;;
    font-weight: 900;
}

.width-css{
    background-color: blue;
    /* width: 500px;
    height: 500px; */
    min-width: 200px;
    display: inline-block;
    color: white;
    
}

.border-css{
    border: 1px red solid;
    border-radius: 10px;
}

.margin-css{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.box-css{
    background-color: red;
    width: 200px;
    height: 200px;
    padding: 20px;
    box-sizing: content-box;
}