.stripes div:nth-child(2n){
    background-color: yellow;
}

.stripes *:nth-child(2n+1){
    background-color: blue;
    color: white;
}

input[disabled]{
    background-color: red;
}
input[placeholder="이름"]{
    background-color: orange;
}

input:not([placeholder]){
    background-color: blue;
}