<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create</title>
  </head>
  <body>
    <div><%= user.name %> 님 안녕하세요</div>
    <div>성별은 <%= user.gender %> 입니다.</div>
    <div>취미는 <%= user.hobby %> 군요?.</div>
  </body>
  <script>
    console.log("<%= user %>"); // user 변수를 출력
  </script>
</html>
